<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="!onlyOdd">
          <li
            class="list-group-item"
            *ngFor= "let number of evenNumbers">
            {{number}}
          </li>
        </div>
        <div *ngIf="onlyOdd">
          <li
            class="list-group-item"
            [ngClass]="{odd: nuymber % 2 !== 0}"
            [ngStyle]="{backgroundColor: odd % 2 !== 0 ? 'yellow' : 'transparent' }"
            *ngFor= "let number of oddNumbers">
            {{number}}
          </li>
        </div>
      </ul>
      <p appBasicHighlight>
        Style me with basic directive !
      </p>
      <!-- <p class="appBasicHighlight">
        Style me with basic directive !
      </p>
      <appBasicHighlight>
        Style me with basic directive !
      </appBasicHighlight> -->

      <p betterHighlight>Style me with Better Directive !</p>

      <!-- <p infinityWar>
        Hi this is extension of ng-content !
      </p>
      <p class="infinityWar">
        Hi this is extension of ng-content !
      </p>
      <infinityWar></infinityWar> -->


      <!-- <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template> -->
    </div>
  </div>
</div>
